<h2 class="title is-4 container is-fluid">Add your food for the day</h2>
<form class="field container is-fluid" id="new-food-entry">
    <div class="form-row">
        <label for="meal-name" class="form-label subtitle is-5">Meal Name:</label>
        <input type="text" id="meal-name" name="post-title" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label subtitle is-5" for="calories">Calories:</label>
        <input id="calories" name="calories" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label subtitle is-5" for="serving-size">Serving Size:</label>
        <input id="serving-size" name="serving-size" class="form-input form-control" />
    </div>
    <div class="field">
        <p class="control">
            <button type="submit" class="button is-success">
                Post
            </button>
        </p>
    </div>
</form>

<script src="/js/food-entry.js"></script>
