<h2 class="title is-4 container is-fluid ">Add your food for the day</h2>
    <form class="field container is-fluid" id="new-food-entry">
        <div class="form-row">
            <label for="post-title" class="form-label subtitle is-5">Meal Name: </label>
            <input type="content" id="post-title" name="post-title" class="form-input form-control" />
        </div>
        <div class="form-row">
            <label class="form-label subtitle is-5 " for="content">Enter Calories: </label>
            <input id="content" name="content" class="form-input form-control " />
        </div>  
         <div class="form-row">
            <label class="form-label subtitle is-5" for="content">Serving Size:</label>
            <input id="content" name="content" class="form-input form-control" />
        </div>  
        <div class="field">
          <p class="control">
            <button class="button is-success">
              Post
            </button>
    </form>


<script src="/js/food-entry.js"></script>