<section>
    <h2 class="title is-3">Login</h2>
    <form id="login-form" class="card-body columns">
      <div class="field column is-one-third">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Text input">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
     <div class="field">
        <label class="label">Password</label>
      <div class="control has-icons-left">
        <input class="input" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">
          Login
        </button>
    </form>
    </section>

    <section>
    <h2 class="title is-3">Sign Up</h2>
    <form id="signup-form" class="card-body columns">
      <div class="field column is-one-third">
        <label class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Text input">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
      <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Email input">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
      <div class="field">
         <label class="label">Password</label>
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password" requiredpattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">
          Sign Up
        </button>
      </p>
    </div>
    </form>
</section>

<script src="/js/login.js"></script>