<h2 class="title is-4 container is-fluid">Add New Water Entry</h2>
<form class="field container is-fluid" id="new-water-entry">
    <div class="form-row">
        <label for="date" class="form-label subtitle is-5">Date:</label>
        <input type="date" id="date" name="date" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label subtitle is-5" for="daily-goal">Daily Goal:</label>
        <input id="daily-goal" name="daily-goal" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label subtitle is-5" for="actual-intake">Actual Intake:</label>
        <input id="actual-intake" name="actual-intake" class="form-input form-control" />
    </div>
    <div class="field">
        <p class="control">
            <button type="submit" class="button is-success">Post</button>
        </p>
    </div>
</form>

<script src="/js/water-entry.js"></script>
