<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <header>
      <h1 class="title ">
        Fitness Diary
      </h1>
      <nav class="tabs is-centered">
        <ul>
          <li class="is-active"><a href="/">Home</a></li>
          <li><a href="/about">Logout</a></li>
          <li><a href="/contact">Login</a></li>
        </ul>
      </nav>
    </header>
  </body>
<script src="/js/add-entry.js"></script>
  </body>
</body>
    

