
  <div class="hero" style="background-image: url(/images/steps2.jpg)">
    <p id="HeroTitle3"><strong>Track your <span class="intake">steps</span>...</strong></p>
</div> 

<h2 class="title is-4 container is-fluid">Edit Steps Entry</h2>
<form class="field container is-fluid edit-steps-form" id="new-steps-entry" action="/edit_steps" method="post">
     <div class="form-row">
         <label for="date" class="form-label subtitle is-5"><strong> Date:</strong></label>
        <input type="text" id="date" name="post-title" class="form-input form-control" value="{{steps.date}}" />
    </div>
     <div class="form-row">
        <label class="form-label subtitle is-5" for="step-count"><strong>Step Count:</strong></label>
        <input id="step-count" name="step-count" class="form-input form-control" value="{{steps.step_count}}" />
    </div>
     <div class="form-row">
        <label class="form-label subtitle is-5" for="calories-burned"><strong>Calories Burned:</strong></label>
        <input id="calories-burned" name="calories-burned" class="form-input form-control" value="{{steps.calories_burned}}" />
    </div>
<div class="form-row">
         <label class="form-label subtitle is-5" for="distance-travelled"><strong>Distance Travelled:</strong></label>
        <input id="distance-travelled" name="distance-travelled" class="form-input form-control" value="{{steps.distance_travelled}}" />
    </div>

    <div class="field">
        <div class="control">
            <button type="submit" class="btn-steps is-success"><strong>Update Entry</strong></button>
        </div>
    </div>
</form>

<footer>
        <div class="content has-text-centered">
            <p>
                
                <h3 id="TEAMNAME3">TEAM6GO!</h3>
                <a href="https://github.com/erica-210"><strong>Erica M San Miguel</strong></a> 
                <a href="https://github.com/Lunafish01"><strong>Joshua Luna</strong></a> 
                <a href="https://github.com/mcalvario"><strong>Maribel Calvario</strong></a> 
            </p>
          
        </div>
    </footer>

<script src="/JS/edit-steps.js"></script>
