<body>
     <div class="hero" style="background-image: url(/images/food2.jpg)">
        <p id="HeroTitle2">Track your meals...</p>
    </div> 
  <h2 class="title is-4 container is-fluid">Edit Food Entry</h2>
  <form class="field container is-fluid edit-food-form" id="new-food-entry2" action="/edit_food" method="post">
    <div class="form-row">
      <label for="meal-name" class="form-label subtitle is-5"><strong>Food:</strong></label>
      <input
        type="text"
        id="meal-name"
        name="meal-name"
        class="form-input form-control"
        value="{{food.food_name}}"
      />
    </div>
    <div class="form-row">
      <label for="serving-size" class="form-label subtitle is-5"><strong>Serving Size:</strong></label>
      <input
        type="text"
        id="serving-size"
        name="serving-size"
        class="form-input form-control"
        value="{{food.serving_amount}}"
      />
    </div>
    <div class="form-row">
      <label for="calories" class="form-label subtitle is-5"><strong>Calories:</strong></label>
      <input
        type="text"
        id="calories"
        name="calories"
        class="form-input form-control"
        value="{{food.calorie_count}}"
      />
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button2 is-success"><strong>Update Entry</strong></button>
      </div>
    </div>
  </form>
</body>

 <footer >
        <div class="content has-text-centered">
            <p>
                
                <h3 id="TEAMNAME2">TEAM6GO!</h3>
                <a href="https://github.com/erica-210"><strong>Erica M San Miguel</strong></a> 
                <a href="https://github.com/Lunafish01"><strong>Joshua Luna</strong></a> 
                <a href="https://github.com/mcalvario"><strong>Maribel Calvario</strong></a> 
            </p>
            
        </div>
    </footer>

<script src="/JS/edit-entry.js"></script>