


<h2 class="card-header">Edit Food Entry</h2>
<form class="card-body edit-water-form">
     <div class="form-row">
         <label for="date" class="form-label subtitle is-5">Date:</label>
        <input type="date" id="date" name="date" class="form-input form-control" value="{{Water.date}}" />
    </div>
     <div class="form-row">
         <label class="form-label subtitle is-5" for="daily-goal">Daily Goal:</label>
        <input id="daily-goal" name="daily-goal" class="form-input form-control" value="{{Water.daily_goal}}" />
    </div>
     <div class="form-row">
         <label class="form-label subtitle is-5" for="actual-intake">Actual Intake:</label>
        <input id="actual-intake" name="actual-intake" class="form-input form-control" value="{{Water.actual_intake}}" />
    </div>

    <div class="field">
        <div class="control">
            <button type="submit" class="button is-primary">Update Entry</button>
            <button type="button" class="button is-danger delete-post-btn">Delete Post</button>
        </div>
    </div>
</form>




<script src="/js/edit-water.js"></script>
<script src="/js/delete-entry.js"></script>