<body>
  <div class="hero" style="background-image: url(/images/steps2.jpg)">
    <p id="HeroTitle3"><strong>Track your <span class="intake">steps</span>...</strong></p>
</div> 

<h2 class="card-header">Edit Steps Entry</h2>
<form class="card-body edit-steps-form">
     <div class="form-row">
         <label for="post-title" class="form-label subtitle is-5">Date:</label>
        <input type="date" id="post-title" name="post-title" class="form-input form-control" value="{{Steps.date}}" />
    </div>
     <div class="form-row">
        <label class="form-label subtitle is-5" for="step-count">Step Count:</label>
        <input id="step-count" name="step-count" class="form-input form-control" value="{{Steps.step_count}}" />
    </div>
     <div class="form-row">
        <label class="form-label subtitle is-5" for="calories-burned">Calories Burned:</label>
        <input id="calories-burned" name="calories-burned" class="form-input form-control" value="{{Steps.calories_burned}}" />
    </div>
<div class="form-row">
         <label class="form-label subtitle is-5" for="distance-travelled">Distance Travelled:</label>
        <input id="distance-travelled" name="distance-travelled" class="form-input form-control" value="{{Steps.distance_travelled}}" />
    </div>

    <div class="field">
        <div class="control">
            <button type="submit" class="button is-primary">Update Entry</button>
            <button type="button" class="button is-danger delete-post-btn">Delete Post</button>
        </div>
    </div>
</form>



<script src="/JS/edit-steps.js"></script>
