<h2 class="card-header">Edit Food Entry</h2>
<form class="card-body edit-food-form">
     <div class="form-row">
        <label for="meal-name" class="form-label subtitle is-5">Meal Name:</label>
<input type="text" id="meal-name" name="meal-name" class="form-input form-control" value="{{food.food_name}}" />
    </div>
     <div class="form-row">
        <label for="calories" class="form-label subtitle is-5">Calories:</label>
<input type="text" id="calories" name="calories" class="form-input form-control" value="{{food.calorie_count}}" />
    </div>
     <div class="form-row">
        <label for="serving-size" class="form-label subtitle is-5">Serving Size:</label>
<input type="text" id="serving-size" name="serving-size" class="form-input form-control" value="{{food.serving_amount}}" />
    </div>

    <div class="field">
        <div class="control">
            <button type="submit" class="button is-primary">Update Entry</button>
            <button type="button" class="button is-danger delete-post-btn">Delete Post</button>
        </div>
    </div>
</form>



<script src="/js/edit-entry.js"></script>
<script src="/js/delete-entry.js"></script>