<body>
  <div class="hero" style="background-image: url(/images/cover.jpg)">
    <p id="HeroTitle1"><strong>Fitness<br>Diary</strong></p>
    
</div> 

<section>
    <h2 class="title is-3 ">Login</h2>
    <form id="login-form" class="card-body columns" action="/login" method="POST">

      <div class="field column is-one-third">
        <label class="label" for="username-login">Username</label>
        <div class="control has-icons-left has-icons-right">
        <input id="username-login" class="input" type="text" placeholder="Text input">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>

      <div class="field">
          <label class="label" for="password-login">Password</label>
          <div class="control has-icons-left">
            <input id="password-login" class="input" type="password" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
      </div>

      <div class="field">
        <p class="control">
          <button id="btn" class=" button is-success" type="submit">
            Login
          </button>
      </div>
    </form>
  </section> 

  <section>
    <h2 class="title is-3 ">Sign Up</h2>
    <form id="signup-form" class="card-body columns" action="/signup" method="POST">
      <div class="field column is-one-third">
        <label class="label" for="username-signup">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input id="username-signup" class="input" type="text" placeholder="Text input">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>

      <div class="field">
        <label class="label" for="email-signup">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input id="email-signup" class="input" type="email" placeholder="Email input">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
      </div>

      <div class="field">
         <label class="label" for="password-signup" >Password</label>
        <p class="control has-icons-left">
          <input id="password-signup" class="input" type="password" placeholder="Password" requiredpattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <button id="btn" class="button is-success" type="submit">
            Sign Up
          </button>
         
        </p>
      </div>
    </form>
</section>

<footer class="footer">
      <div class="content has-text-centered">
          <p>
              
              <h3 id="TEAMNAME">TEAM6GO!</h3>
              <a href="https://github.com/erica-210"><strong>Erica M San Miguel</strong></a> 
              <a href="https://github.com/Lunafish01"><strong>Joshua Luna</strong></a> 
              <a href="https://github.com/mcalvario"><strong>Maribel Calvario</strong></a> 
          </p>
          
      </div>
  </footer>

<script src="/JS/login.js"></script> 
<script src="/JS/signup.js"></script>
