<section class="hero is-success">
      <div class="hero-body">
      <h1>My Profile</h1>
      <div>
        <p><strong>Username:</strong> {{user.username}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
      </div>
    </div>
    </section>
    <section>
      <div class="container is-fluid">
        <div class="notification is-primary">
          {{!-- put steps, water, and food entry buttons here to take to matching handlebars  --}}
        </div>
      </div>
    </section>