
<body>
  <div class="hero" style="background-image: url(/images/water.jpg)">
    <p id="HeroTitle">Track your water <span class="intake">intake</span>...</p>
</div> 

<h2 class="title is-4 container is-fluid">Create New Water Entry</h2>
{{!-- added action and method classes below to make sure js is functioning --}}
<form class="field container is-fluid" id="new-water-entry" action="/water" method="POST">
    <div class="form-row">
        <label for="date" class="form-label subtitle is-5"><strong>Date:</strong></label>
        <input type="text" id="date" name="date" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label subtitle is-5" for="daily-goal"><strong>Daily Goal:</strong></label>
        <input id="daily-goal" name="daily-goal" class="form-input form-control" />
    </div>
    <div class="form-row">
        <label class="form-label subtitle is-5" for="actual-intake"><strong>Actual Intake:</strong></label>
        <input id="actual-intake" name="actual-intake" class="form-input form-control" />
    </div>
    <div class="field">
        <p class="control">
            <button type="submit" class="btn-water">
                <strong>Post</strong>
            </button>
        </p>
    </div>
</form>




  </body>
<footer>
      <div class="content has-text-centered">
          <p>
              
              <h3 id="TEAMNAME">TEAM6GO!</h3>
              <a href="https://github.com/erica-210"><strong>Erica M San Miguel</strong></a> 
              <a href="https://github.com/Lunafish01"><strong>Joshua Luna</strong></a> 
              <a href="https://github.com/mcalvario"><strong>Maribel Calvario</strong></a> 
          </p>
   
      </div>
  </footer>
{{!-- made a change to the pathing for script --}}
<script src="/JS/water-entry.js"></script> 
